<mat-nav-list>
  <a *ngIf="isAuthorized" (click)="closeMenu()" routerLink="/">
    <mat-icon>home</mat-icon>
    <span class="navegacion-list-label">Home</span>
  </a>
  <a
    *ngIf="!isAuthorized"
    mat-list-item
    (click)="closeMenu()"
    routerLink="auth/login"
  >
    <mat-icon>login</mat-icon>
    <span class="navegacion-list-label">Inicio Sesión</span>
  </a>
  <a
    *ngIf="isAuthorized"
    mat-list-item
    (click)="closeMenu()"
    routerLink="auth/registration"
  >
    <mat-icon>how_to_register</mat-icon>
    <span class="navegacion-list-label">Registrar</span>
  </a>
  <a
    *ngIf="!isAuthorized"
    mat-list-item
    (click)="closeMenu()"
    routerLink="cotizacion/agregar"
  >
    <mat-icon>garage</mat-icon>
    <span class="navegacion-list-label">Cotizar</span>
  </a>

  <a
    *ngIf="isAuthorized"
    mat-list-item
    (click)="closeMenu()"
    routerLink="cotizacion/list"
  > <!--Recordar cambiar a authorizado -->
    <mat-icon>garage</mat-icon>
    <span class="navegacion-list-label">Lista Cotizaciones</span>
  </a>

  <a *ngIf="!isAuthorized" mat-list-item (click)="closeMenu()" routerLink="contacto/agregar">
    <mat-icon>contact_support</mat-icon>
    <span class="navegacion-list-label">Contacto</span>
  </a>

    <a *ngIf="isAuthorized" mat-list-item (click)="closeMenu()" routerLink="contacto/list"> <!--Recordar cambiar a authorizado -->
    <mat-icon>contact_support</mat-icon>
    <span class="navegacion-list-label">Lista Contacto</span>
  </a>

  <a mat-list-item (click)="closeMenu()" routerLink="static/nosotros">
    <mat-icon>build_circle</mat-icon>
    <span class="navegacion-list-label">Nosotros</span>
  </a>

  <a mat-list-item (click)="closeMenu()" routerLink="static/marcas">
    <mat-icon>directions_car</mat-icon>
    <span class="navegacion-list-label">Marcas</span>
  </a>

  <a mat-list-item (click)="closeMenu()" routerLink="static/sucursal">
    <mat-icon>location_on</mat-icon>
    <span class="navegacion-list-label">Sucursal</span>
  </a>

  <a mat-list-item (click)="closeMenu()" routerLink="static/politicas">
    <mat-icon>policy</mat-icon>
    <span class="navegacion-list-label">Politicas</span>
  </a>

  <a
    *ngIf="isAuthorized"
    mat-list-item
    (click)="(onSignOut)"
    (click)="closeMenu()"
  >
    <mat-icon>logout</mat-icon>
    <span class="navegacion-list-label">Salir Sesion</span>
  </a>
</mat-nav-list>
